body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Montserrat Black', sans-serif;
    font-size: 56px;
}

h5 {
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

span.icon {
    display: inline;
    padding: 5px;
}

span.icon img {
    height: 30px;
    width: auto;
}

.header {
    color: #006632;
    font-weight: bold;
    border-bottom: 5px solid #8DCCAC;
    border-radius: 5px;
}

.footer {
    text-align: center;
}

.highlight {
    color: #006632;
    font-weight: bold;
    font-size: 56px;
}

.highlight-secondary {
    font-size:36px;
    font-weight: bold;
}

.graphic {
    padding-top: 10%;
}

.graphical_content {
    padding-top: 5%;
}

.section_block {
    padding: 5% 20%;
}

.dark_block {
    background-color: #003D20;
    color: #ffffff;
}

#splash {
    /*background: url(images/background.png) no-repeat center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    padding: 5% 20% 0 20%;
}

#isotype_chart {
    align-items: center;
    text-align: center;
}